<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sweater</title>
</head>
<body>
User editor

<form th:action="@{/user}" method="post">
    <input th:type="text" name="login" th:value="${user.login}">

    <div  th:each="role : ${roles}">
        <label><input th:type="checkbox" th:name="${role}"  th:checked="${#lists.contains(user.roles, role)} ? 'checked'"  ><span th:text="${role}"></span> </label>
    </div>

<input type="hidden" th:value="${user.id}" name="userId">
<button type="submit">Save</button>
</form>
</body>
</html>